.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #854836;
    color: white;
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffb22c;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .nav-links li a:hover {
    color: #ffb22c;
  }
  
  .nav-links li a.active {
    color: #ffb22c;
    font-weight: bold;
  }